$IMG_btn_home_search: '//assets.2dfire.com/frontend/dace17cb4a5afc0222c90a4e1d17d7c1.png';
$IMG_btn_menu_search: '//assets.2dfire.com/frontend/95bfd80a6619a21053343ec69f5ca997.png';
$IMG_btn_back: '//assets.2dfire.com/frontend/0cfc5a6291783cfc6a945a33355ef2f1.png';
$IMG_btn_goods_share: '//assets.2dfire.com/frontend/6c11f2c67b706ce80dbf477855038752.png';
$IMG_common_miguan: '//assets.2dfire.com/frontend/a21b2a65336b8eacfffe35396ec5827c.png';
